name: Deploy to Heroku

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy to Heroku
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        HEROKU_APP_NAME: postit-app-backend
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh
        heroku login
        heroku git:remote -a $HEROKU_APP_NAME
        git push heroku main
